*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-image: url(p.jpg);
	background-size:cover;
	background-attachment: fixed;
	font-family: new time roman;
}

h1
{
	font-size: 40px;
	color: black;
	margin-top: 200px;
	font-weight: bolder;
}

p
{
	font-size: 17px;
	color: black;
}

h3
{
	font-size: 25px;
	color: white;
	margin-top: 20px;
	margin-left: 70%;
	font-weight: bolder;
}

.col-md-5
{
	margin-top: 30px;
	box-shadow: -1px 1px 60px 10px black;
	background: rgba(0,0,0,0.8);
	border-radius: 10px;
	margin-bottom: 80px;
}

.label
{
	font-weight: normal;
	margin-top: 15px;
	color: white;
	font-size: 19px;
}

.form-control
{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-top: 15px;
	height: 40px;
	color: white;

}

input[type="checkbox"]
{
	margin-top: 15px;
	width:15px;
	height: 15px;
}

small
{
	font-size:18px;
	color: white;
}


input[type="radio"]
{
	margin-top: 22px;
}

option
{
	color: gray;
}

.btn-info
{
	margin-top: 20px;
	font-size: 18px;
	width:120px;
	margin-left: 80px;
	margin-bottom: 20px;
}

.btn-warning
{
	margin-top: 20px;
	font-size: 18px;
	width:120px;
	margin-left: 80px;
	margin-bottom: 20px;
}